body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #75b057; 
}

.menu {
    display: none;
    background-color: #2e8b57;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    padding: 10px;
}

.menu ul li a {
    color: rgb(57, 172, 116);
    text-decoration: none;
    display: block;
}

.menu-btn:checked + .menu {
    display: block;
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
    background: #2e8b57;
    color: rgb(68, 176, 113);
    padding: 10px;
    display: block;
}

.header {
    background: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
}

.header h1 {
    margin: 0;
}

.section {
    padding: 20px;
    margin: 10px;
    background-color: #f0f8ff; 
    border-radius: 8px; 
}

.section img {
    width: 100%;
    height: auto;
    border-radius: 8px; 
}

.footer {
    background: #2e8b57; 
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}